---
import BaseLayout from "../../layouts/BaseLayout.astro";
import EventCard from "../../components/smaller/EventCard.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const date = new Date();

const allEvents2 = (await getCollection("events")).sort(
  (a, b) =>
    new Date(b.data.dateEvent).valueOf() - new Date(a.data.dateEvent).valueOf()
);

const newEvents2 = (await getCollection("events")).filter(
  (event) => new Date(event.data.dateEvent) >= date
);

let allEvents = await Astro.glob("../../content/events/*.md");
allEvents = allEvents.sort(
  (a, b) =>
    new Date(b.frontmatter.dateEvent).valueOf() -
    new Date(a.frontmatter.dateEvent).valueOf()
);

let newEvents = await Astro.glob("../../content/events/*.md");
newEvents = newEvents.filter(
  (event) => new Date(event.frontmatter.dateEvent) >= date
);
---

<BaseLayout>
  <br />
  <center><h2 class="year">Upcoming Events</h2></center>
  <div class="container">
    {
      newEvents.length > 0 ? (
        newEvents2.map((event, index) => {
          return (
            <EventCard
              title={event.data.title}
              date={event.data.dateEvent}
              readMore={`/activities/${event.slug}/`}
              link={event.data.mainLink}
              cover={event.data.cover}
              buttonText={event.data.buttonText}
            />
          );
        })
      ) : (
        <p>no upcoming events</p>
      )
    }
  </div>
  <br />
  <center><h2 class="year">Past Events</h2></center>
  <div class="container">
    {
      allEvents2.map((event) => {
        return (
          <EventCard
            title={event.data.title}
            date={event.data.dateEvent}
            readMore={`/activities/${event.slug}/`}
            link={event.data.mainLink}
            cover={event.data.cover}
            buttonText={event.data.buttonText}
          />
        );
      })
    }
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
  }
</style>
